In [1]:
import pandas as pd
from scipy import sparse

## processing for my dataset

In [2]:
ratings_df=pd.read_csv('ratings_small.csv')

In [3]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
len(ratings_df['movieId'].unique())

9066

In [5]:
id_df=pd.read_csv('links.csv')

In [6]:
id_df['tmdbId']

0           862.0
1          8844.0
2         15602.0
3         31357.0
4         11862.0
           ...
45838    439050.0
45839    111109.0
45840     67758.0
45841    227506.0
45842    461257.0
Name: tmdbId, Length: 45843, dtype: float64

In [7]:
df=pd.read_csv('../all_movies_data.csv')

In [8]:
df.tmdb_id.values

array([2.74000e+02, 2.80000e+02, 1.00200e+04, ..., 8.72542e+05,
       5.69118e+05, 9.45423e+05])

In [9]:
id_df.tmdbId.unique()

array([   862.,   8844.,  15602., ...,  67758., 227506., 461257.])

In [10]:
newdf=pd.DataFrame()

In [11]:
newdf=id_df[id_df.tmdbId.isin(df.tmdb_id.values)]
newdf.shape

(7461, 3)

In [12]:
newdf.movieId.values

array([     1,      2,      3, ..., 175779, 175813, 176045], dtype=int64)

In [13]:
ratings_df=ratings_df[ratings_df.movieId.isin(newdf.movieId.values)]
ratings_df

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
2            1     1061     3.0  1260759182
6            1     1287     2.0  1260759187
8            1     1339     3.5  1260759125
9            1     1343     2.0  1260759131
...        ...      ...     ...         ...
99998      671     6212     2.5  1065149436
99999      671     6268     2.5  1065579370
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[66424 rows x 4 columns]

In [14]:
ratings_df.to_csv('my_ratings.csv',index=False)

## svd

In [16]:
matrix_data=ratings_df
matrix_data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
2       1     1061     3.0  1260759182
6       1     1287     2.0  1260759187
8       1     1339     3.5  1260759125
9       1     1343     2.0  1260759131

In [17]:
matrix_data=matrix_data[~matrix_data.userId.values<=2]

In [18]:
movie_user_data=matrix_data.pivot_table(index='movieId',columns='userId',values='rating')

In [34]:
movie_user_data_y=movie_user_data.fillna(-1)
movie_user_data_y

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
movieId,,,,,,,,,,,,,,,,,,,,,
1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,3.0,-1.0,4.0,-1.0,...,-1.0,4.0,3.5,-1.0,-1.0,-1.0,-1.0,-1.0,4.0,5.0
2,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,5.0,-1.0,-1.0,3.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,-1.0,-1.0,-1.0,-1.0,4.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,3.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
5,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,3.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160565,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
160567,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
160656,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
161594,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
162542,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [35]:
movie_user_data_r=movie_user_data.copy()
movie_user_data_r=movie_user_data.where(~movie_user_data_r.notna(),1)
movie_user_data_r=movie_user_data_r.fillna(0)
movie_user_data_r

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160565,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160656,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161594,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162542,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
R=movie_user_data_r.values
Y=movie_user_data_y.values

In [ ]:
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
reader = Reader()

In [23]:
data = Dataset.load_from_df(ratings_df[['userId', 'movieId', 'rating']], reader)

In [28]:
svd = SVD()
cross_validate(svd, data, measures=['RMSE', 'MAE'])

{'test_rmse': array([0.90902308, 0.90390237, 0.89699749, 0.90820954, 0.89126504]),
 'test_mae': array([0.70031621, 0.69466641, 0.69204693, 0.70076812, 0.68792874]),
 'fit_time': (2.672048330307007,
  2.7520811557769775,
  2.903839111328125,
  2.8025946617126465,
  2.7262990474700928),
 'test_time': (0.10196375846862793,
  0.09095072746276855,
  0.09959721565246582,
  0.0838932991027832,
  0.0886995792388916)}

In [29]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [30]:
svd.predict(1, 302, 3)

Prediction(uid=1, iid=302, r_ui=3, est=2.9725523648455487, details={'was_impossible': False})

In [31]:
ratings_df[ratings_df.userId==1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
2        1     1061     3.0  1260759182
6        1     1287     2.0  1260759187
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
11       1     1405     1.0  1260759203
16       1     2294     2.0  1260759108

## collaborative

In [2]:
ratings = pd.read_csv('all_ratings.csv')
movies = pd.read_csv('all_movies.csv')
ratings = pd.merge(movies,ratings).drop(['genres','timestamp'],axis=1)
print(ratings.shape)
ratings.head()

(100836, 4)

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [3]:
movies.shape

(9742, 3)

In [4]:
userRatings = ratings.pivot_table(index=['userId'],columns=['title'],values='rating')
userRatings.head()
# print("Before: ",userRatings.shape)
userRatings = userRatings.dropna(thresh=10, axis=1).fillna(0,axis=1)
# print("After: ",userRatings.shape)

In [5]:
corrMatrix = userRatings.corr(method='pearson')
corrMatrix.head(10)

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),Â¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",1.000000,0.063117,-0.023768,0.143482,0.011998,0.087931,0.224052,0.034223,0.009277,0.008331,...,0.017477,0.032470,0.134701,0.153158,0.101301,0.049897,0.003233,0.187953,0.062174,0.353194
(500) Days of Summer (2009),0.063117,1.000000,0.142471,0.273989,0.193960,0.148903,0.142141,0.159756,0.135486,0.200135,...,0.374515,0.178655,0.068407,0.414585,0.355723,0.252226,0.216007,0.053614,0.241092,0.125905
10 Cloverfield Lane (2016),-0.023768,0.142471,1.000000,-0.005799,0.112396,0.006139,-0.016835,0.031704,-0.024275,0.272943,...,0.242663,0.099059,-0.023477,0.272347,0.241751,0.195054,0.319371,0.177846,0.096638,0.002733
10 Things I Hate About You (1999),0.143482,0.273989,-0.005799,1.000000,0.244670,0.223481,0.211473,0.011784,0.091964,0.043383,...,0.243118,0.104858,0.132460,0.091853,0.158637,0.281934,0.050031,0.121029,0.130813,0.110612
"10,000 BC (2008)",0.011998,0.193960,0.112396,0.244670,1.000000,0.234459,0.119132,0.059187,-0.025882,0.089328,...,0.260261,0.087592,0.094913,0.184521,0.242299,0.240231,0.094773,0.088045,0.203002,0.083518
101 Dalmatians (1996),0.087931,0.148903,0.006139,0.223481,0.234459,1.000000,0.285112,0.119843,0.072399,0.029967,...,0.114968,0.077232,0.096294,0.067134,0.113224,0.184324,0.054024,0.047804,0.156932,0.078734
101 Dalmatians (One Hundred and One Dalmatians) (1961),0.224052,0.142141,-0.016835,0.211473,0.119132,0.285112,1.000000,0.134037,0.017264,-0.046277,...,0.120302,0.125816,0.049818,0.083650,0.171654,0.274260,0.077594,0.085606,0.248820,0.171118
12 Angry Men (1957),0.034223,0.159756,0.031704,0.011784,0.059187,0.119843,0.134037,1.000000,0.132979,0.058862,...,0.104518,0.028415,0.079905,0.241435,0.144652,0.122107,0.056742,-0.001708,0.074306,0.102744
12 Years a Slave (2013),0.009277,0.135486,-0.024275,0.091964,-0.025882,0.072399,0.017264,0.132979,1.000000,0.249931,...,0.024045,0.038127,0.013786,0.190366,0.104150,0.017351,0.063325,0.002528,0.037469,0.004213
127 Hours (2010),0.008331,0.200135,0.272943,0.043383,0.089328,0.029967,-0.046277,0.058862,0.249931,1.000000,...,0.223135,0.154299,0.012907,0.364841,0.198926,0.091416,0.225747,0.128638,0.153335,0.002912

In [11]:
corrMatrix.to_csv('movie_similarity.csv')

In [6]:
def get_similar_movies(movie_name,rating):
    similar_ratings = corrMatrix[movie_name]*(rating-2.5)
    similar_ratings = similar_ratings.sort_values(ascending=False)
    return similar_ratings

In [7]:
def get_recommendations(ratings_list):
    similar_movies = pd.DataFrame()
    for movie,rating in ratings_list:
        similar_movies = similar_movies.append(get_similar_movies(movie,rating),ignore_index = True)
    ans=similar_movies.sum().sort_values(ascending=False).head(12)
    return ans.index.values

In [9]:
ratings_list = [("(500) Days of Summer (2009)",5),("Alice in Wonderland (2010)",3),("Aliens (1986)",1),("2001: A Space Odyssey (1968)",2)]
get_recommendations(ratings_list)

array(['(500) Days of Summer (2009)', 'Alice in Wonderland (2010)',
       'Silver Linings Playbook (2012)', 'Yes Man (2008)',
       'Adventureland (2009)', 'Marley & Me (2008)', 'About Time (2013)',
       'Crazy, Stupid, Love. (2011)', '50/50 (2011)', 'Help, The (2011)',
       'Up in the Air (2009)', 'Holiday, The (2006)'], dtype=object)

In [10]:
ratings_list=[("Amazing Spider-Man, The (2012)",5),("Mission: Impossible III (2006)",4),("Toy Story 3 (2010)",2),("2 Fast 2 Furious (Fast and the Furious 2, The) (2003)",4)]
get_recommendations(ratings_list)

array(['Amazing Spider-Man, The (2012)', 'Mission: Impossible III (2006)',
       '2 Fast 2 Furious (Fast and the Furious 2, The) (2003)',
       'Over the Hedge (2006)', 'Crank (2006)',
       'Mission: Impossible - Ghost Protocol (2011)', 'Hancock (2008)',
       'The Amazing Spider-Man 2 (2014)', 'Hellboy (2004)',
       'Snakes on a Plane (2006)', 'Jumper (2008)',
       'Chronicles of Riddick, The (2004)'], dtype=object)

In [36]:
ndf=pd.read_csv("movie_similarity.csv",index_col=0)

In [49]:
ndf.columns.values

array(["'burbs, The (1989)", '(500) Days of Summer (2009)',
       '10 Cloverfield Lane (2016)', ..., 'eXistenZ (1999)', 'xXx (2002)',
       'Â¡Three Amigos! (1986)'], dtype=object)